In [1]:
from pymongo import MongoClient

In [2]:
client = MongoClient('localhost',27017)
# client = MongoClient('mongodb://localhost:27017')

In [3]:
db = client['test-database']
# db = client.test_database

In [4]:
collection = db['test_collection']
#collection = db.test_collection

In [5]:
data_dic = {'name':'홍길동','age':17}

In [6]:
re_data_dic = collection.insert_one(data_dic)

In [7]:
re_data_dic

In [8]:
re_data_dic.inserted_id

ObjectId('61fdfac46ca8ae1e2e00e36a')

In [9]:
data_dic2 = {'name':'김길동','age':28}

In [10]:
re_data_dic2 = collection.insert_one(data_dic2)

In [11]:
data_dic2

{'name': '김길동', 'age': 28, '_id': ObjectId('61fdfac46ca8ae1e2e00e36b')}

In [12]:
re_data_dic2.inserted_id

ObjectId('61fdfac46ca8ae1e2e00e36b')

In [13]:
data_list = [
    {'name':'이길동','age':25},
    {'name':'박길동','age':31},
    {'name':'정길동','age':35}
]

In [14]:
re_data_dic3 = collection.insert_many(data_list)

In [15]:
re_data_dic3

In [16]:
re_data_dic3.inserted_ids

[ObjectId('61fdfac46ca8ae1e2e00e36c'),
 ObjectId('61fdfac46ca8ae1e2e00e36d'),
 ObjectId('61fdfac46ca8ae1e2e00e36e')]

In [17]:
search_results = collection.find_one()

In [18]:
type(search_results)

dict

In [19]:
search_results

{'_id': ObjectId('61fdfac46ca8ae1e2e00e36a'), 'name': '홍길동', 'age': 17}

In [20]:
search_results = collection.find()

In [21]:
type(search_results)

pymongo.cursor.Cursor

In [22]:
search_results

In [23]:
for search_result in search_results:
    print(search_result )

{'_id': ObjectId('61fdfac46ca8ae1e2e00e36a'), 'name': '홍길동', 'age': 17}
{'_id': ObjectId('61fdfac46ca8ae1e2e00e36b'), 'name': '김길동', 'age': 28}
{'_id': ObjectId('61fdfac46ca8ae1e2e00e36c'), 'name': '이길동', 'age': 25}
{'_id': ObjectId('61fdfac46ca8ae1e2e00e36d'), 'name': '박길동', 'age': 31}
{'_id': ObjectId('61fdfac46ca8ae1e2e00e36e'), 'name': '정길동', 'age': 35}

In [24]:
# where name = '홍길동'
search_results = collection.find({'name':'홍길동'})

In [25]:
search_results

In [26]:
for search_result in search_results:
    print(search_result)

{'_id': ObjectId('61fdfac46ca8ae1e2e00e36a'), 'name': '홍길동', 'age': 17}

In [27]:
# where name = '홍길동' ,'age':17
search_results = collection.find({'name':'홍길동','age':17})

In [28]:
for search_result in search_results:
    print(search_result)

{'_id': ObjectId('61fdfac46ca8ae1e2e00e36a'), 'name': '홍길동', 'age': 17}

In [29]:
#where age > 17
search_results = collection.find({'age':{'$gt':17}})

In [30]:
for search_result in search_results:
    print(search_result)

{'_id': ObjectId('61fdfac46ca8ae1e2e00e36b'), 'name': '김길동', 'age': 28}
{'_id': ObjectId('61fdfac46ca8ae1e2e00e36c'), 'name': '이길동', 'age': 25}
{'_id': ObjectId('61fdfac46ca8ae1e2e00e36d'), 'name': '박길동', 'age': 31}
{'_id': ObjectId('61fdfac46ca8ae1e2e00e36e'), 'name': '정길동', 'age': 35}

In [31]:
#where age > =17
search_results = collection.find({'age':{'$gte':17}})

In [32]:
for search_result in search_results:
    print(search_result)

{'_id': ObjectId('61fdfac46ca8ae1e2e00e36a'), 'name': '홍길동', 'age': 17}
{'_id': ObjectId('61fdfac46ca8ae1e2e00e36b'), 'name': '김길동', 'age': 28}
{'_id': ObjectId('61fdfac46ca8ae1e2e00e36c'), 'name': '이길동', 'age': 25}
{'_id': ObjectId('61fdfac46ca8ae1e2e00e36d'), 'name': '박길동', 'age': 31}
{'_id': ObjectId('61fdfac46ca8ae1e2e00e36e'), 'name': '정길동', 'age': 35}

In [33]:
#where age < 28
search_results = collection.find({'age':{'$lt':28}})

In [34]:
for search_result in search_results:
    print(search_result)

{'_id': ObjectId('61fdfac46ca8ae1e2e00e36a'), 'name': '홍길동', 'age': 17}
{'_id': ObjectId('61fdfac46ca8ae1e2e00e36c'), 'name': '이길동', 'age': 25}

In [35]:
#where age <= 28
search_results = collection.find({'age':{'$lte':28}})

In [36]:
for search_result in search_results:
    print(search_result)

{'_id': ObjectId('61fdfac46ca8ae1e2e00e36a'), 'name': '홍길동', 'age': 17}
{'_id': ObjectId('61fdfac46ca8ae1e2e00e36b'), 'name': '김길동', 'age': 28}
{'_id': ObjectId('61fdfac46ca8ae1e2e00e36c'), 'name': '이길동', 'age': 25}

In [37]:
#where name != '홍길동'
search_results = collection.find({'name':{'$ne':'홍길동'}})

In [38]:
for search_result in search_results:
    print(search_result)

{'_id': ObjectId('61fdfac46ca8ae1e2e00e36b'), 'name': '김길동', 'age': 28}
{'_id': ObjectId('61fdfac46ca8ae1e2e00e36c'), 'name': '이길동', 'age': 25}
{'_id': ObjectId('61fdfac46ca8ae1e2e00e36d'), 'name': '박길동', 'age': 31}
{'_id': ObjectId('61fdfac46ca8ae1e2e00e36e'), 'name': '정길동', 'age': 35}

In [43]:
# select name from ... where age > 17
search_results = collection.find({'age':{'$gt':17}},{'name':1})

In [44]:
for search_result in search_results:
    print(search_result)

{'_id': ObjectId('61fdfac46ca8ae1e2e00e36b'), 'name': '김길동'}
{'_id': ObjectId('61fdfac46ca8ae1e2e00e36c'), 'name': '이길동'}
{'_id': ObjectId('61fdfac46ca8ae1e2e00e36d'), 'name': '박길동'}
{'_id': ObjectId('61fdfac46ca8ae1e2e00e36e'), 'name': '정길동'}

In [47]:
# select name from __ where age > 17
search_results = collection.find({'age':{'$gt':17}},{'name':1,'_id':0})

In [48]:
for search_result in search_results:
    print(search_result)

{'name': '김길동'}
{'name': '이길동'}
{'name': '박길동'}
{'name': '정길동'}

In [72]:
collection.update_one({'name':'홍길동'},{'$set':{'age':18}})

In [73]:
search_results = collection.find({'name':'홍길동'})
for search_result in search_results:
    print(search_result)

{'_id': ObjectId('61fdfac46ca8ae1e2e00e36a'), 'name': '홍길동', 'age': 18}

In [76]:
collection.update_many({'age':{'$gt':30}},{'$set':{'age':31}})

In [77]:
search_results = collection.find()
for search_result in search_results:
    print(search_result)

{'_id': ObjectId('61fdfac46ca8ae1e2e00e36a'), 'name': '홍길동', 'age': 18}
{'_id': ObjectId('61fdfac46ca8ae1e2e00e36b'), 'name': '김길동', 'age': 28}
{'_id': ObjectId('61fdfac46ca8ae1e2e00e36c'), 'name': '이길동', 'age': 25}
{'_id': ObjectId('61fdfac46ca8ae1e2e00e36d'), 'name': '박길동', 'age': 31}
{'_id': ObjectId('61fdfac46ca8ae1e2e00e36e'), 'name': '정길동', 'age': 31}

In [78]:
search_results = collection.find({'age':{'$gt':30}})
for search_result in search_results:
    print(search_result)

{'_id': ObjectId('61fdfac46ca8ae1e2e00e36d'), 'name': '박길동', 'age': 31}
{'_id': ObjectId('61fdfac46ca8ae1e2e00e36e'), 'name': '정길동', 'age': 31}

In [79]:
collection.delete_one({'name':'홍길동'})

In [80]:
search_results = collection.find()
for search_result in search_results:
    print(search_result)

{'_id': ObjectId('61fdfac46ca8ae1e2e00e36b'), 'name': '김길동', 'age': 28}
{'_id': ObjectId('61fdfac46ca8ae1e2e00e36c'), 'name': '이길동', 'age': 25}
{'_id': ObjectId('61fdfac46ca8ae1e2e00e36d'), 'name': '박길동', 'age': 31}
{'_id': ObjectId('61fdfac46ca8ae1e2e00e36e'), 'name': '정길동', 'age': 31}

In [81]:
collection.delete_many({'age':{'$gte':30}})

In [82]:
search_results = collection.find()
for search_result in search_results:
    print(search_result)

{'_id': ObjectId('61fdfac46ca8ae1e2e00e36b'), 'name': '김길동', 'age': 28}
{'_id': ObjectId('61fdfac46ca8ae1e2e00e36c'), 'name': '이길동', 'age': 25}